<div class="banner image">
  <div id="jerseyyear">
    <h3><%= jersey.team %>
    </h3>
    <%= jersey.year %></div>
  <img src="<%= jersey.photo %>" class="photo maillot" widht="203" height="309" />
  <div id="footcard">
    <p> <%= jersey.price_per_day %>$ /Day</p>
    <p><%= jersey.number %>
      <p>Size :<%= jersey.size %></p>
    </p>
  </div>
</div>
