<div class='partial-form'>
  <%= simple_form_for(@jersey) do |f| %>

  <div>
    <%= f.input :team, required: true %>
    <%= f.input :player %>
    <%= f.input :number %>
    <%= f.input :year, required: true, collection: 1945..2023 %>
    <%= f.input :size, required: true, collection: ['XS', 'S', 'M', 'L', 'XL', 'XXL'] %>
    <%= f.input :state, required: true, collection: ['Full of sweat', 'Good enough', 'Smell victory'] %>
    <%= f.input :description %>
    <%= f.input :photo, required: true, placeholder: 'Lien de ta photo' %>
    <%# <%= f.file :photo  // quand fonction ok %>
    <%= f.input :price_per_day, required: true %>
  </div>

  <div class='partial-btn-submit'>
      <%= f.submit class: "btn-submit px-5" %>
  </div>

  <% end %>
</div>
