<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Unbounded:wght@900&display=swap');
</style>

<div class="container mt-3"  >

  <h1>ALL OUR JERSEYS</h1>


    <div class="search">
      <form class="d-flex p-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search for a team" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <div class="container card">
        <% @jerseys[0..5].each do |jersey| %>
          <%= link_to jersey_path(jersey) do %>
            <div class="banner image">

                <div id="jerseyyear"> <h3><%= jersey.team %>
                </h3><%= jersey.year %></div>

                <img src="<%= jersey.photo %>"class="photo maillot" widht="203" height="309"/>
                  <div id="footcard">
                    <p> <%= jersey.price_per_day %>$ /Day</p>
                    <p><%= jersey.number %>
                      <p>Size :<%= jersey.size %></p>
                      <p><%= jersey.description%></p>
                    </p>
                  </div>
            </div>
          <% end %>
        <% end %>
    </div>

</div>
