
<div class="container mt-3"  >

  <h1>HOT MAILLOT SAUCE</h1>


  <div class="container card">

      <% @jerseys[0..5].each do |jersey| %>
        <div class="maillot card">

            <div class="card-maillot-infos">
              <div>
                  <h2><%= jersey.team %></h2>
                  <p><%= jersey.description %> </p>
              </div>
                <h2 class="maillot-card-price"> <%= jersey.price_per_day %>$ /Day</h2>
                <img src="<%= jersey.photo %>"class="photo maillot" widht="203" height="309"/>
            </div>
                <%= link_to jersey.user, jersey_path(jersey) %>
         </div>
      <% end %>

  </div>
</div>
