<div class="container">
  <div class="container show d-flex justify-content-center p-5">
    <div class="jersey-card">
      <div class="title-bloc d-flex justify-content-center">
        <h1>Maillot <%= "#{@jersey.team} - #{@jersey.year} " %></h1>
      </div>
      <div class="jersey-image p-3">
        <img src="<%= @jersey.photo %>">
      </div>
      <div class="jersey-infos">
        <div class="infos-item year">
          <%= "#{@jersey.year}" %>
        </div>
        <div class="infos-item team">
          <%= "#{@jersey.team}" %>
        </div>
        <% if @jersey.player %>
          <div class="infos-item player">
            <%= "#{@jersey.player}" %>
          </div>
          <div class="infos-item number">
            <%= "#{@jersey.number}" %>
          </div>
        <% end %>
        <div class="infos-item size">
          <%= "#{@jersey.size}" %>
        </div>
        <div class="infos-item state">
          <%= "#{@jersey.state}" %>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="booking">
        <div class="booking-card" data-controller="price-updater">
          <div class="title d-flex justify-content-center">
            <h2>Booking</h2>
          </div>
          <div class="price-bloc d-flex justify-content-evenly mt-3">
            <div class="price" data-target="price-updater.price_per_day">
              <%= "#{@jersey.price_per_day}$ / day" %>
            </div>
            <div class="stars">
              <i class="fa-regular fa-futbol"></i><i class="fa-regular fa-futbol"></i><i class="fa-regular fa-futbol"></i><i class="fa-regular fa-futbol"></i><i class="fa-regular fa-futbol"></i> (5)
            </div>
          </div>
          <div class="booking-form">
            <form method="POST" action="<%= orders_path %>">
              <div class="date-bloc d-flex justify-content-center mt-5">
                <div class="begin_date">
                  <input type="date"
                  id="begin_date"
                  name="begin_date"
                  value="2023-03-01"
                  min="2023-03-01"
                  max="2999-12-31"
                  data-target="price-updater.begin_date"
                  data-action="change->price-updater#end_date_refresher">
                </div>
                <div class="end_date">
                  <input type="date"
                  id="end_date"
                  name="end_date"
                  value="2023-03-02"
                  min="2023-03-02"
                  max="2999-12-31"
                  data-target="price-updater.end_date"
                  data-action="change->price-updater#total_amount_refresher">
                </div>
                <div> <input id="jerseyID" name="jerseyID" type="hidden" value="<%= @jersey.id %>">
                </div>
                <div> <input id="total_amount" name="total_amount" type="hidden" value="150" data-target="price-updater.total_amount_input">
                </div>
              </div>
              <div class="booking-button d-flex justify-content-center">
                <input type="submit" value="Book Jersey" class="btn btn-outline-success px-5">
              </div>
            </form>
          </div>
          <div class="total-price-bloc d-flex justify-content-between p-3">
            <div class="total-label">
              Total
            </div>
            <div class="total-value" data-target="price-updater.total_amount">
              150$
            </div>
          </div>
        </div>
        <div class="description text-center">
          <h2>Jersey's story</h2>
          <%= "#{@jersey.description}" %>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
