<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Hot Maillot Sauce", jerseys_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="position: relative" id="navbarNavDropdown">
        <% if current_user.nil? %>
        <ul class="navbar-nav" style="position: absolute;right: 0px;">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class:"nav-link" %>
          </li>
        </ul>
        <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "My Shop", shop_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "My Sales", my_sales_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Add Jersey", new_jersey_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "My Basket", my_basket_path, class:"nav-link" %>
          </li>
        </ul>
        <ul >
          <li class="nav-item" style="position: absolute; right: 46px; bottom: 3px;">
              <%= link_to "Log Out", destroy_user_session_path, method: "delete", class:"nav-link" %>
          </li>

          <li class="nav-item" style="position: absolute; right: 122px; bottom: 3px;">
            <%= link_to "My Profil", profil_path, class:"nav-link" %>
          </li>

            <% if current_user.avatar.present? %>
                  <li class="nav-item" style="position: absolute; right: 0px; bottom: 2px;"> <%= image_tag(current_user.avatar, class:"navbar-avatar") %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
